<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %p [%t] [%X{sys} %X{env} %X{caller} %X{traceId}] - %m%n</pattern>
		</encoder>
	</appender>
	<appender name="info"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<param name="file" value="${catalina.base}/logs/info.log" />
		<param name="Encoding" value="UTF-8" />
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/info.log.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>72</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d %p [%t][%X{sys} %X{env} %X{caller} %X{traceId}] - %m%n</pattern>
		</encoder>
	</appender>
	<appender name="error"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<param name="file" value="${catalina.base}/logs/error.log" />
		<param name="Encoding" value="UTF-8" />
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/error.log.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>72</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d %p [%t][%X{sys} %X{env} %X{caller} %X{traceId}] - %m%n</pattern>
		</encoder>
	</appender>
	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="info" />
	</root>
</configuration>